<div class="SizeID-button"
     data-sizeid-size-chart="{$button->getSizeChart()}"
     style="width: {$button->getWidth()}px; height: {$button->getHeight()}px;"
        {if $button->getId()}
            data-sizeid-button-style="{$button->getId()}"
        {/if}
        {if $button->getLanguage()}
            data-sizeid-language="{$button->getLanguage()}"
        {/if}
></div>