<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    {$connect|noescape}
</head>
<body>

<div class="container" style="padding-top: 50px;">
    <h1>SizeID Helpers</h1>

    <div>
        {$button|noescape}
    </div>
    </br>
    <div>
        <a href="example.php" class="btn btn-primary">Select size chart and button</a>
    </div>
</div>

</body>
</html>